{% extends 'shop/layout.html.twig' %}

{% set active = 'form' %}

{% block page_title %}
    Rédiger un article
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-sm-12">

            <h3>Rédiger un Article</h3>
            {{ form(form, {attr:{novalidate: 'novalidate'}}) }}
        </div>
    </div>
{% endblock %}