@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Cookie|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Dosis');

/*-----------------------------------
            LAYOUT
-------------------------------------*/
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}


body {
  font-family: 'Dosis', sans-serif;
  background-color: #fff4db;
  font-size:1.3rem !important;
}

.contenu {
  height: 165rem;
  margin-top: 5rem;
}

.container {
  min-height: 65.1vh;
}

@media(max-width: 768px){
  #category-footer{
    margin-top: 90rem;
  }
  #title-footer {
    padding-top:0rem;
  }
}

@media(max-width:990px){
  #form-welcome{
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media(max-width:763px){
  #form-welcome{
    background-image: url('../img/fond-blanc.jpg') !important;
    background-repeat: no-repeat !important;
  }
  .count{
    border:0!important;
  }
}

.form-group {
  font-size: 1.5rem !important;
}

input {
  font-size:1.5rem !important;
}


/*-----------------------------------
            MENU DU HAUT
-------------------------------------*/

#menu-lovin{
  background: black;
  color: white;
  font-size: 1.7rem;
}

#menu-lovin a {
  color: burlywood;
}

#menu-lovin a:hover {
  color:#fff4db;
}

#logo {
  font-size: 4rem;
  font-family: 'Cookie', cursive;
}

#navbar-dropdown {
  background-color: burlywood;
}

#navbar-dropdown a {
  color: black;
  font-size: 1.5rem;
}

#navbar-dropdown a:hover {
  background-color:black;
  color: burlywood;
}

.icon-style{
  font-size: 3rem;
}

.basket-count {
  height: 1.4rem;
  width: 1.4rem;
  font-size: 1.3rem;
  border-radius: 1rem;
  position:relative;
  left: 17px;
  bottom: 34px;
  transform: translate(50%);
  background: #E14658;
}

#basket-user{
  background-color:black;
}

#basket-user a{
  color: burlywood;
  text-align: right;
}

#basket-user a:hover{
  color: #fff4db;
}


/*-----------------------------------
            CAROUSEL
-------------------------------------*/

.title-carousel {
  text-align: center;
  font-size: 13rem;
  font-weight: 300;
  font-family: 'Cookie', cursive;
  color: black;
  margin: 4em auto;
}

.title-carousel-clear {
  text-align: center;
  font-size: 13rem;
  font-weight: 300;
  font-family: 'Cookie', cursive;
  color: #fcf3e2;
  margin: 4em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/*-----------------------------------
            GALERIE
-------------------------------------*/

.description {
  font-size: 2rem;
}

.btn-desc {
  font-size: 1.5rem;
}

.title-desc {
  font-weight: 300;
  font-size: 4rem;
  text-transform: uppercase;
  margin-top: 9rem;
}

.content-anim {
  opacity:0;
  transition: all 1s ease-out;
}

.content-anim.fade-in {
  opacity:1;
}

.img-anim {
  opacity:0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.img-anim.fade-in{
  opacity:1;
  transform: translateY(0);
}

/*-----------------------------------
            FOOTER
-------------------------------------*/

footer {
  background-color: black;
  color: white;
  padding-bottom:9rem;
}

#category-footer {
  background-color: black;
  color: white;
}

footer p {
  font-size: 2rem;
}

#title-footer {
  font-family: 'Cookie', cursive;
  font-size: 6rem;
  padding-top: 9rem;
  color: burlywood;
}

.title-contact {
  color:white;
  text-align: center;
  font-size: 12rem;
  font-weight: 300;
  margin: -8em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.meet-us {
  font-size:5rem;
  color: #f4427a;
}

#row-lovin {
  font-size: 4rem;
  background-color: #c6e2ee;
  color: white;
  font-family: 'Cookie' , cursive;
  text-align: center;
}

.contact-container{
  padding-left:0;
  padding-right:0;
}

.content-contact {
  font-size: 2rem;
}

.meet {
  margin-bottom: 2rem;
  margin-top:2rem;
}

#address {
  padding-top:10rem;
  text-align: center;
}

#social-network {
  padding-top:10rem;
  text-align: center;
}

#social-network a {
  color:burlywood;
  padding-right: 0.5rem;
  font-size: 3rem;
}

#social-network a:hover {
  color:white;
}

/*-----------------------------------
           PAGE INSCRIPTION
-------------------------------------*/

.welcome {
  font-size: 4rem;
  font-family:'Cookie', cursive;
}

#form-welcome{
  font-size: 1.7rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  background: url('../img/3130.jpg');
  background-size: 75%;
  padding-bottom: 19rem;
  padding-top: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 50% 20% / 10% 40%;
}


.count {
  border-right: 0.1rem black solid;
}

.button-form{
  background-color: black;
  color: burlywood;
  border: 0;
  font-size: 1.5rem;
  margin-bottom:1rem;
}

.button-form:hover {
  background-color: burlywood;
  color: black;
}

/*-----------------------------------
           PAGE MEMBRE
-------------------------------------*/

.title-card {
  background-color:#756866;
  color: black;
}

.content-card {
  background-color:#343434;
  color: white;
}

.client-info{
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

.button-account{
  border: 0.1rem #756866 solid;
  font-size: 1.5rem;
  background-color: white;
  color: black;
}

.button-account:hover{
  background-color:black;
  color:white;
  border: 0.1rem #756866 solid;
}

/*-----------------------------------
           PAGE MEMBRE COMMANDES
-------------------------------------*/

.title-command {
  background-color:#756866;
  color: black;
  font-size: 1.5rem;
}

/*-----------------------------------
           PAGE MEMBRE PANIER
-------------------------------------*/

.icon-client-style{
  color:#E14658;
  font-size:2rem;
}

.btn-center{
  display:block;
  margin: 0 auto;
}

.basket-checkout__order{
  margin: 0 auto;
}

  /*-----------------------------------
      PAGE MODIFICATION MOT DE PASSE
  -------------------------------------*/


.password-modify{
  margin-top: 3rem;
}

.content-pwrd{
  padding-bottom: 3.5rem;
}

/*-----------------------------------
    PAGE COMMANDE EN COURS
-------------------------------------*/

.recap {
  margin-top: -2rem;
  border-radius: 0.5rem;
}

#recap-link {
  margin-top: 5rem;
  color: white;
}

#recap-link a {
  color: white;
}

.recap-list {
  font-size: 1.5rem;
}

.recap-summary{
  margin-top: -2rem;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
}


