{% extends 'shop/layout.html.twig' %}

{% block page_title %}
    Contact
{% endblock %}

{% block content %}
<div class="container-fluid contact-container">
    <div class="row">
        <div class="col-md-12">
            <img src="{{ asset('img/eiffel-tower-951509.jpg') }}" class="img-fluid">
        </div>
    </div>

    <div class="row">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6 meet">
                    <h3 class="meet-us">Nous rencontrer</h3>
                    <p class="content-contact">Vous pouvez vous rendre dans notre boutique parisienne à l'adresse suivante:</p><br />
                </div>
                <div class="col-md-6 meet">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.6289045861026!2d2.2892704!3d48.865286399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fe52c41a92b%3A0xfd890374916abf39!2s75+Avenue+Kl%C3%A9ber%2C+75116+Paris!5e0!3m2!1sfr!2sfr!4v1546902884102" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-md-12">
            <img src="{{ asset('img/muffins.jpg') }}" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}
