{% extends 'base.html.twig' %}

{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/style2.css') }}"/>
{% endblock %}

{% block content %}
   <main class="container">


    </main>
{% endblock %}
