{% extends 'shop/layout.html.twig' %}
{% block page_title %}Confirmation de commande{% endblock %}

{% block content %}
    <h1 class="text-center">Confirmation de commande</h1>

<p>Merci pour votre commande, vous allez recevoir un email de confirmation.</p>

{% endblock %}
