{% extends 'shop/layout.html.twig' %}

{% block page_title %}Presentation{% endblock %}

{% block content %}
    <div class="container client-info">
        <h1 class="text-center">Qui est Lovin Sweet ?</h1>
        <p>Lovin Sweet est spécialisé dans la préparation de pâtisseries ainsi que de viennoiseries. Présents sur le marché depuis 2010, l'entreprise a décidé de se lancer dans la vente en ligne.
        <h1 class="text-center">Nos services</h1>
            <ul>
                <li>Livraison à domicile</li>
                <li>Création de pièces montées</li>
                <li>Ateliers de pâtisserie</li>
                <li>Service traiteur</li>
            </ul>
    </div>

{% endblock %}