{% extends 'shop/layout.html.twig' %}

{% block page_title %}
    Mon compte
{% endblock%}

{% block content %}

<div class="container client-info">

    <h1 class="text-center welcome">Bonjour {{ app.user.lastName }}</h1>

    <div class="card">
        <div class="card-header title-card">
            <h1>Mes informations</h1>
        </div>
        <div class="card-body content-card">
            <div class="row card-body">
                <div class="col-md-6">
                    <h4>E-mail</h4>
                    <p>{{ app.user.email }}</p>
                </div>
                <div class="col-md-6">
                    <h4>Mot de passe</h4>
                    <a href="{{ path('security_change-password') }}" class="btn button-account">Changer</a>
                </div>
            </div>
        </div>
    </div><br />

<div class="card">
    <div class="card-header title-card">
            <h1>Coordonnées <small class="text-white">(adresse de facturation)</small></h1>
    </div>
        <div class="card-body content-card">
            {{ render(controller(
                'App\\Controller\\UserController::editAddress'
            ))}}
            <input type="submit" form="user-contact-form" value="Sauvegarder" class="btn button-account btn-center">
        </div>
    </div>

</div>
</div>

{% endblock %}