{% extends 'shop/layout.html.twig' %}

{% block page_title %}
    Connexion
{% endblock %}

{% block content %}

<div class="container" id="form-welcome">
    <h1 class="welcome text-center">Connexion</h1>
    <div class="row">
        <div class="col-md-12 count">
        {{ render(controller('App\\Controller\\SecurityController::login', { 'order': order })) }}
    </div>
    </div>
</div>

{% endblock %}
