<footer class="container-fluid" id="category-footer">
    <div class="row">
        <div class="col-md-4">
            <h1 class="text-center" id="title-footer">Lovin' Sweet</h1>
        </div>
        <div class="col-md-4" id="address">
            <p>
                75 Avenue Kléber<br />
                75116 Paris<br />
                01.45.65.09.11
            </p>
        </div>
        <div class="col-md-4" id="social-network">
            <p>Suivez-nous<br />
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a><!-- Insérer les icônes-->
            </p>
        </div>
    </div>
</footer>